@font-face {
  font-family: "ASL-Font";
  src:         url('../symbol_font_for_asl/symbol_font_for_asl.ttf');
}

body {
  margin:           1em;
  background-color: #f2f2f2;
}

section {
  margin-bottom: 1em;
}

.asl {
  font-size:   32px;
  white-space: pre-wrap;
}

h3, .asl {
  font-family: "ASL-Font";
}

h3 {
  font-size:   36px;
  font-weight: normal;
  margin:      0;
  display:inline;
}

h2 {
  font-size: 20px;
  margin:    0;
  margin-right: 1em;
  display: inline;
}

div.asl {
  display:none;
}

blockquote {
  display:none;
}