
<ul class="column">
  <li><a class="{% if page.selected == 'lesson1'  %}selected{% endif %}" href="lesson1.html" >Lesson 1: Handshapes</a>  </li>
  <li><a class="{% if page.selected == 'lesson2'  %}selected{% endif %}" href="lesson2.html" >Lesson 2: Head Locations 1</a>  </li>
  <li><a class="{% if page.selected == 'lesson3'  %}selected{% endif %}" href="lesson3.html" >Lesson 3: Body Locations 1</a>  </li>
  <li><a class="{% if page.selected == 'lesson4'  %}selected{% endif %}" href="lesson4.html" >Lesson 4: Contact Types 1</a>  </li>
</ul>
<ul class="column">
  <li><a class="{% if page.selected == 'lesson5'  %}selected{% endif %}" href="lesson5.html" >Lesson 5: Directions</a>  </li>
  <li><a class="{% if page.selected == 'lesson6'  %}selected{% endif %}" href="lesson6.html" >Lesson 6: Head Locations 2</a>  </li>
  <li><a class="{% if page.selected == 'lesson7'  %}selected{% endif %}" href="lesson7.html" >Lesson 7: Body Locations 2</a>  </li>
</ul>

<br style="clear:both">